body{
    background-color: #000000;
    background-image: linear-gradient(147deg, #130a12 0%, #0c151a 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator {
    width: 300px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.507);
    font-family: 'Roboto', sans-serif;
    z-index: 14;
}
#background {
    width: 300px;
    height: 550px;
    z-index: -19;
    background: linear-gradient(22deg, rgb(45, 175, 226) 68%, #cddfe4 97%); 
    position: absolute;
    border-radius: 5px 25px 25px 25px;

}
#display {
    z-index: 14;
    height: 28%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    padding-left: 10px;
    justify-content: flex-end;
}

#expression{
    font-size: 2.5rem;  
    margin: 0;
    align-self: flex-end;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: whitesmoke;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.226);
    overflow-wrap: anywhere;
    width: 100%;
    padding-left: 15px;

}   
#resultDisplay{
    padding-left: 20px;
    font-size: 3rem;
    margin: 0;
    align-self: flex-end;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: whitesmoke;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.521);
}
#input {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgb(198, 239, 255) 5%, rgb(218, 244, 255) 20%, rgba(222,246,255,1) 35%, rgba(255,255,255,1) 100%);
    border-radius: 0px 25px;
    overflow: hidden;
}    

button:hover {
    animation-name: buttonHover;
    animation-duration: 150ms;
    animation-fill-mode:forwards;
} 
button:focus {
     animation-name: buttonPress;
    animation-duration: 300ms;
    animation-fill-mode:none;
}
button:active {
   animation:none;
}

button{
    width: 75px;
    height: 75px;
    border:  none;
    background-color: transparent;
    border-radius: 20px;
    color: #21404d;
    font-family: 'Roboto', sans-serif;
    font-size: 2.0rem;
    font-weight: 300;
}
#operators{
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 20px;
    border-radius: 22px;
}
#operators .operator:hover{
    color:rgba(219, 31, 62, 0.685);

}
#numPad .operand:hover{
    color: #5abce3;
}
.special:hover {
    color: #ce5abad7;
}
#return:hover {
    color: #0ec58e;
    font-size: 2.6rem;
}
#numPad{
    display: flex;
    flex-wrap: wrap;
}
#zero{
    width: 150px;
}
#special{
    display: flex;
}
#renameToInput{
    width:225px ;
}
@keyframes buttonHover {   
    to {
        background-color:#96d7fd10;
        box-shadow:1px 1px 10px #b7e3f5;
    }
}
@keyframes buttonPress {
    to {font-size: 1.9rem;
        background-color:#96d7fd50;
        box-shadow:1px 1px 5px #b7e3f5;

    }
}
@keyframes returnHover {   
    to {
        background-color:#96fdde5b;
        box-shadow:1px 1px 10px #b7e3f5;
    }
}
#focus{
        position: absolute;
        left:     -100000px;
        top:      auto;
        width:    1px;
        height:   1px;
        overflow: hidden;
}